extends ./template

block title
  h1 Welcome to Sweet Junk!

block content
  p= 'Hey ' + name + ', it\'s time to start sweeting your junk! Now that you\'re registered, head on back to our website and begin listing your old junk.'
  p Once you've listed some junk, click the Sweet Junk link in the nav bar to see a master list of all the sweet junk people have listed for barter. No doubt you'll find some awesome stuff, because as we love to say here at Sweet Junk...
  h2(style='color: #80F000; text-align: center') One person's junk is another person's Sweet Junk!
  p So go ahead and offer your junk for someone else's. If they accept, you'll both get an email letting you know, so you can meet up and swap your junk. Meanwhile, don't be surprised if somebody offers their junk for yours! If you don't want what they've offered, all you need to do is reject their offer. If you offered some of your junk for trade and now you're regretting it, you can either remove a specific offer or just delete the item from our patented Junk Database (Junkabase).
  p That's it! Go forth and
  h2(style='color: #80F000; text-align: center') SWEET YOUR JUNK!
