doctype html
html(lang='en')
  head
    meta(charset='utf-8')
  body
    table(style='width: 100%; background-color: #eeeeee')
      tbody
        td(style='width: 20%')
        td(style='width: 60%')
          table
            thead
              th(colspan='3', style='color: #80F800; font-family:"Impact", "Trebuchet MS", Verdana, Geneva, sans-serif')
                block title
            tbody
              td(colspan='3', style='padding: 10px; font-family:"Trebuchet MS", Verdana, Geneva, sans-serif')
                block content
            tfoot
              td(style='text-align: center; border-top: 1px dotted gray; text-decoration: none') twitter.com/sweetjunknash
              td(style='text-align: center; border-top: 1px dotted gray; text-decoration: none') www.sweetjunk.com
              td(style='text-align: center; border-top: 1px dotted gray; text-decoration: none') facebook.com/sweetjunk
        td(style='width: 25%')
