doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/foundation.topbar.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')
    block js
  body
    .test.hide
    .login-form.hide
      form#login-data
        fieldset
          legend Login
          label Enter email
          input(type='email', name='email', autofocus)
          label.login-err
          label Enter Password
          input(type='password', name='password')
          label.login-err
          button.tiny.radius.loginButton Login
          .closelogin x


    .login-form-reg.hide
      form(action='/register', method='post', enctype='multipart/form-data')
        fieldset
          legend Register
          label Enter Name
          input(type='text', name='name', autofocus )
          label Enter email
          input(type='email', name='email')
          label Enter Password
          input(id='pw', type='password', name='password')
          label Retype Password
          input(id='pwcon', type='password')
          label Profile Picture
          input(type='file', name='pic')
          button.tiny.radius.registerButton Register
          .closeReg x

    nav.top-bar
      ul.title-area
        li.name
          h1: a(href="/") Home
        li.toggle-topbar.menu-icon
          a(href="#") Menu

      section.top-bar-section
        ul.left
          li: a(href="/items") Sweet Junk
          if user
            li: a(href="/items/new") Add More Junk
        ul.right
          if user
            li: a(href="/users/"+user._id.toString())=user.email
            li.divider
            li: form(action='/logout', method='post'): button.tiny.radius.logout Logout
          else
            li.divider
            li.togglelinkreg: a(href='#') Register
            li.divider
            li.togglelink: a(href='#') Login





    .row
      .small-12.columns
        block content


