doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/foundation.topbar.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')
    block js
  body
    .test.hide
    .login-form.hide
      form#login-data
        fieldset
          legend Login
          label.login-err
          label Enter email
          input(type='email', name='email', autofocus)
          label
          label Enter Password
          input(type='password', name='password')
          label
          button.tiny.radius.loginButton Login
          .closelogin x


    .login-form-reg.hide
      form(action='/register', method='POST', enctype='multipart/form-data')#registrationdata
        fieldset
          legend Register
          label.errorReg
          .row
            .small-12.columns#formdata
              label Enter Name
              input(type='text', name='name', autofocus)#registername
              label Enter email
              input(type='email', name='email')#registeremail
              label Enter Password
              input(id='pw', type='password', name='password')
              label Retype Password
              input(id='pwcon', type='password')
              label.reg-err
              label Profile Picture
              input(type='file', name='pic')#registerpic
              input(type='hidden', name='webcam')#registerwebcam
              button.tiny.radius.expand#getWebcam Activate Webcam
              label &nbsp
              button.tiny.radius.registerButton.expand Register
              .closeReg x
            .small-6.columns.hide#cameraarea
              #videostuff
                video(width='275', height='206.25', autoplay='autoplay', muted='true')
              #camerastuff
                button.tiny.radius.alert#capture Take Picture
              #canvasarea
                canvas#canvas(width='275', height='206.25')

    nav.top-bar
      ul.title-area
        li.name
          h1: a(href="/") Home
        li.toggle-topbar.menu-icon
          a(href="#") Menu

      section.top-bar-section
        ul.left
          li: a(href="/about") About Us
        ul.left
          li: a(href="/items") Sweet Junk
          if user
            li: a(href="/items/new") Add More Junk
        ul.right
          if user
            li: a(href="/users/"+user._id.toString())=user.email
            li.divider
            li: form(action='/logout', method='post'): button.tiny.radius.logout Logout
          else
            li.divider
            li.togglelinkreg: a(href='#') Register
            li.divider
            li.togglelink: a(href='#') Login





    .row
      .small-12.columns
        block content


