extends ../shared/template

block content
  .row.home-bg
  .row.home-text
    .row
      .small-6.small-centered.columns
        h1.home-title= title
    .row.home-body
      .small-10.small-centered.columns
        h4 Sweet Junk is an online bartering site that lets you trade junk that you might not think is sweet for junk you know is! After all, one man's trash is another man's treasure, or as we like to put it...
        h3 One person's junk is another person's Sweet Junk!
    .row.home-body
      .small-10.small-centered.columns
        h4 So go ahead and register for an account and start listing your junk! Or if you're not sure there's enough sweet junk here for you, click the Sweet Junk button up top to see a listing of all the junk you can barter for. Happy hunting!
