extends ../shared/template

block js
  script(src='/js/source/find.js')

block content
  body
    h2 Junk City Items
    h4 Click on blue text to sort
      .row
        .small-6.columns
          button#toggleCats.tiny.radius View/Hide Categories
        .small-6.columns
          button#clearFilter.tiny.radius Clear Filters
        .small-11.columns#cats.hide
          .row
            .small-2.columns
              a.filter.category(href='#') Appliances
            .small-2.columns
              a.filter.category(href='#') Clothing
            .small-2.columns
              a.filter.category(href='#') Electronics
            .small-2.columns
              a.filter.category(href='#') Furniture
            .small-2.columns
              a.filter.category(href='#') Household
            .small-4.columns
          .row
              &nbsp;
            .small-2.columns
              a.filter.category(href='#') Pet
            .small-2.columns
              a.filter.category(href='#') Services
            .small-2.columns
              a.filter.category(href='#') Tools
            .small-2.columns
              a.filter.category(href='#') Transportation
            .small-2.columns
              a.filter.category(href='#') Other
            .small-1.columns
              &nbsp;
    .row
      .small-2.columns.limit
        label Items per page
        input#limit(type='text')
    .row
      .small-12.columns
        .list-table.hide
          table#items
            thead
              tr
                th Name
                th: a.sort.year(href='#') Year
                th Description
                th: a.sort.cost(href='#') Cost
                th Tags
                th Category
            tbody
    .row
      .small-2.columns
        label &nbsp
        button#prev.tiny.radius.expand Previous
      .small-3.columns
        &nbsp
      .small-2.columns
        label &nbsp
        p#page 1
      .small-2.columns
        label &nbsp
        button#next.tiny.radius.expand Next

