extends ../shared/template

block js
  script(src='/js/source/find.js')

block content
  body
    h2 Junk City Items
    h4 Click on blue text to sort
    .row
      .small-2.columns.limit
        label Items per page
        input#limit(type='text')
    .row
      .small-12.columns
        .list-table.hide
          table#items
            thead
              tr
                th Name
                th: a.sort.year(href='#') Year
                th Description
                th: a.sort.cost(href='#') Cost
                th Tags
                th Category
            tbody
    .row
      .small-2.columns
        label &nbsp
        button#prev.tiny.radius.expand Previous
      .small-3.columns
        &nbsp
      .small-2.columns
        label &nbsp
        p#page 1
      .small-2.columns
        label &nbsp
        button#next.tiny.radius.expand Next

