extends ../shared/template

<<<<<<< HEAD
block js
  script(src='/js/source/find.js')

block content
  body
    .row
      .small-12.columns
        table#items
          thead
            tr
              th Name
              th: a.sort.year(href='#') Year
              th Description
              th: a.sort.cost(href='#') Cost
              th Tags
              th Castegory
          tbody

    .row
      .small-2.columns
        input#limit(type='text', placeholder='limit')
      .small-5.columns
        p
      .small-2.columns
        button#prev.tiny.radius.expand Previous
      .small-1.columns
        p#page 1
      .small-2.columns
        button#next.tiny.radius.expand Next

=======
block content


    .row
      .small-12.columns
        #photos TEST
>>>>>>> 9bee694f980bcb3d02715b16f3f56054b620e7f1
