extends ../shared/template

block content
  .row
    .small-8.small-centered.columns
      form(class='background', action='/items', method='post', enctype='multipart/form-data')
        fieldset
          legend Add Your Junk
          .row
            .small-12.columns
              label(for='category') Choose a Category
                select(name='category')
                  option Appliances
                  option Clothing
                  option Electronics
                  option Furniture
                  option Household
                  option Pet
                  option Services
                  option Tools
                  option Transportation
                  option Other
          .row
            .small-12.columns
              label(for='name') Name
              input(type='text', name='name')
          .row
            .small-6.columns
              label(for='year') Year
              input(type='text', name='year')
            .small-6.columns
              label(for='cost') Cost
              input(type='text', name='cost')
          .row
            .small-12.columns
              label(for='tags') Tags
              input(type='text', name='tags')
            .small-12.columns
              label(for='description') Description
              textarea(name='description')
            .small-12.columns
              label(for='photo') Add a Picture!
              input(name='photo', type='file')
            .small-8.small-centered.columns
              button.tiny.radius Add Item!
              label
              button.alert.close-junk-button x
